<ion-col size="12">
  <ui-avatar>

    <ion-text color="dark">
      <h3>RIntu</h3>
    </ion-text>
    <img src="https://randomuser.me/api/portraits/med/men/75.jpg" alt="">
    <ui-button style="position: absolute;bottom: 0px; height: 80px;width: 80px;">
      <div class="ion-activatable">
        <ion-icon size="large" name="play-circle"></ion-icon>
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </div>
    </ui-button>
 
  </ui-avatar>

</ion-col>

<ion-col size="12">
  <ion-text color="dark" style="text-align: center;">
    <h6 style="margin-top: 6.5rem;">Send a voice note to make connection</h6>
  </ion-text>
  <ui-button>
    <div class="ion-activatable">
      <ion-icon name="mic"></ion-icon>
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
    </div>


  </ui-button>

</ion-col>