<ion-content color="light">
  <ion-grid>
    <ion-row>


      <ion-col class="ion-padding">
        <div class="user-avatar ion-justify-content-center ion-text-center">
          <app-avatar></app-avatar>
          <span class="ion-padding-end ion-justify-content-center"> @RINTU </span>

        </div>
      </ion-col>
      <ion-col class="ion-align-self-start ion-padding ion-justify-content-end" style="display: flex;">

        <ion-button fill="clear" color="dark" size="small">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-padding">
        <ion-textarea autoGrow="true" class="input_text" placeholder="Tell about yourself"></ion-textarea>
      </ion-col>
      <ion-col size="12" class="ion-padding">
        <ion-label position="stacked">Basic Info</ion-label>
        <ion-input placeholder="Address Line 1"></ion-input>
        <ion-input placeholder="Address Line 2"></ion-input>
        <ion-input placeholder="City"></ion-input>
        <ion-input placeholder="State"></ion-input>
        <ion-input placeholder="Zip Code"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
    
        <ion-chip *ngFor="let item of [1,1,1,1,1]" color="primary">
          <ion-label>Secondary w/ Dark label</ion-label>
        </ion-chip>
    
         
     

    </ion-row>
  </ion-grid>

</ion-content>