<app-header></app-header>

<ion-content color="light">


</ion-content>
<ion-footer class="ion-padding">
    <ion-slides pager="false" [options]="slideOpts">
        <ion-slide>
            <app-avatar></app-avatar>
        </ion-slide>
        <ion-slide>
            <app-avatar></app-avatar>
        </ion-slide>
        <ion-slide>
            <app-avatar></app-avatar>
        </ion-slide>
        <ion-slide>
            <app-avatar></app-avatar>
        </ion-slide>
        <ion-slide>
            <app-avatar></app-avatar>
        </ion-slide>
    </ion-slides>
</ion-footer>