<ion-header class="ion-no-border   ">
  <ion-toolbar color="light">
    <ion-row>
      <ion-col class="ion-align-self-start">
        <ion-button fill="clear" color="dark" size="small">
          <ion-icon slot="icon-only" name="notifications"></ion-icon>
        </ion-button>
        <ion-button fill="clear" color="dark" size="small">
          <ion-icon  slot="icon-only" name="settings"></ion-icon>
        </ion-button>
        
      </ion-col>

      <ion-col class="">
        <div class="user-avatar">
          <span class="ion-padding-end"> @{{db.username}}  </span>
         
          <app-avatar></app-avatar>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>